.nav {
    min-height: 3rem;
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.icon {
    font-size: 1.5rem;
    margin-right: 3rem;
    color: white;
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.firstHeader {
    font-size: 1.5rem;
}

.inactive {
    color: white;
}

.active {
    color: red;
}

.cartDiv {
    position: relative;
}

.counter {
    border-radius: 50px;
    background-color: blue;
    position: absolute;
    top: -50%;
    right: -25%;
    font-size: 1rem;
    padding: 3px;
}
